<div class="container-fluid p-0 bs-h-100v bs-theme">
  <!--TODO: [2;1] Show it using `MdDialog'-->
  <!--<div class="row mx-0 justify-content-center">-->
    <!--<div class="col col-auto">-->
      <!--<div class="container-fluid text-center">-->
        <!--<bs-server-connection-monitor></bs-server-connection-monitor>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <bs-server-connection-monitor></bs-server-connection-monitor>

  <div class="w-100 bs-pat">
    <div class="row mx-0 justify-content-end mb-auto">
      <div class="col col-auto mat-title mb-0">
        <div class="container-fluid">
          <bs-current-time></bs-current-time>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="w-100 bs-pab">
    <div class="row mx-0 justify-content-center mt-auto">
      <div class="col col-auto mat-title mb-0">
        <div class="container-fluid">
          (COMPANY LOGO HERE)
        </div>
      </div>
    </div>
  </div>
</div>
