<ng-container>
  <ng-container *ngIf="isOccupiedNow(room); else notIsOccupiedNow">
    <p class="text-uppercase">Occupied</p>

    <p class="text-sentence-case">{{remainingTimeStringObs | async}} left</p>

    <bs-meeting-info [meeting]="currentMeeting(room)"></bs-meeting-info>
  </ng-container>

  <ng-template #notIsOccupiedNow>
    <p class="text-uppercase">Available</p>

    <ng-container *ngIf="hasNextMeeting(room)">
      <p>Until {{nextMeetingStartTime | date: 'shortTime'}}</p>
    </ng-container>
  </ng-template>
</ng-container>
