<ng-container>
  <div [ngClass]="{'bs-room-occupied': isOccupiedNow(room), 'bs-room-available': !isOccupiedNow(room)}"
       class="container-fluid h-100 d-flex flex-column justify-content-center bs-room-info">

    <div class="row mb-auto">
      <div class="col">
        <p class="mat-title mb-0">
          <bs-room-name [roomName]="room?.name"></bs-room-name>
        </p>
      </div>
    </div>

    <div class="row mb-auto">
      <div class="col">
        <bs-room-status [room]="room"></bs-room-status>
      </div>
    </div>

    <div *ngIf="hasNextMeeting(room)"
         class="row mb-auto">
      <div class="col">
        <p class="text-uppercase mat-title mb-0">Next</p>

        <bs-meeting-info [meeting]="nextMeeting(room)"
                         class="mat-title"></bs-meeting-info>
      </div>
    </div>
  </div>
</ng-container>
