<div class="container-fluid p-0 w-100 bs-h-100v_ bs-w-100v_">
  <div class="row mx-0 justify-content-end">
    <div class="col col-auto mat-subheading-2 mb-0">
      <div class="container-fluid">
        <bs-current-time></bs-current-time>
      </div>
    </div>
  </div>

  <ng-container *ngIf="meetingRoomsObs | async as meetingRooms; else notMeetingRooms">
    <div *ngFor="let room of meetingRooms"
         class="row mx-0">
      <div class="col">
        <bs-room-info [room]="room"></bs-room-info>
      </div>
    </div>
  </ng-container>

  <ng-template #notMeetingRooms>
    <div class="row mx-0 justify-content-center">
      <div class="col col-auto">
        <div class="container-fluid">
          <md-spinner></md-spinner>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="row mx-0 justify-content-center">
    <div class="col col-auto mat-subheading-2 mb-0">
      <div class="container-fluid">
        (COMPANY LOGO HERE)
      </div>
    </div>
  </div>
</div>
