<div class="container-fluid p-0 d-flex flex-column justify-content-between">
  <ng-container *ngIf="meetingRoomsObs | async as meetingRooms; else notMeetingRooms">
    <div *ngFor="let room of meetingRooms"
         class="row mx-0">
      <div class="col px-0">
        <bs-room-info [room]="room"></bs-room-info>
      </div>
    </div>
  </ng-container>

  <ng-template #notMeetingRooms>
    <div class="row mx-0 justify-content-center">
      <div class="col col-auto">
        <div class="container-fluid">
          <md-spinner></md-spinner>
          <!--<md-progress-spinner value="50"></md-progress-spinner>-->
        </div>
      </div>
    </div>
  </ng-template>
</div>
