@import '~@angular/material/theming';

@include mat-core();

$bs-primary-palette: mat-palette($mat-orange);
$bs-accent-palette: mat-palette($mat-orange, A200, A100, A400);
$bs-warn-palette: mat-palette($mat-red);

$bs-theme: mat-dark-theme($bs-primary-palette, $bs-accent-palette, $bs-warn-palette);

@include angular-material-theme($bs-theme);

$bs-theme-foreground: map_get($bs-theme, foreground);
$bs-theme-background: map_get($bs-theme, background);

.bs-theme {
  $bs-base-palette: mat-palette($mat-blue-grey);

  background-color: mat-color($bs-base-palette);
  color: map_get($bs-theme-foreground, text);

  .bs-room-info {
    &.bs-room-available {
      $bs-available-palette: mat-palette($mat-green);
      $bs-available-theme: mat-dark-theme($bs-available-palette, $bs-available-palette);
      $bs-available-foreground: map_get($bs-available-theme, foreground);

      background-color: mat-color($bs-available-palette);
      color: map_get($bs-available-foreground, text);
    }

    &.bs-room-occupied {
      $bs-occupied: mat-palette($mat-red);
      $bs-occupied-theme: mat-dark-theme($bs-occupied, $bs-occupied);
      $bs-occupied-foreground: map_get($bs-occupied-theme, foreground);

      background-color: mat-color($bs-occupied);
      color: map_get($bs-occupied-foreground, text);
    }
  }
}
