/* You can add global styles to this file, and also import other style files */

.bs-text-sentence-case {
  text-transform: lowercase;
}

.bs-text-sentence-case::first-letter {
  text-transform: uppercase;
}

.bs-h-100v {
  height: 100vh !important;
}

.bs-w-100v {
  width: 100vw !important;
}

.bs-mh-100v {
  min-height: 100vh !important;
}

.bs-mw-100v {
  min-width: 100vw !important;
}

.bs-pat {
  position: absolute;
  top: 0;
  z-index: 1
}

.bs-pab {
  position: absolute;
  bottom: 0;
  z-index: 1
}
